<!DOCTYPE html>
<html>
<script>
 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o)
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61611706-1', 'auto');
  ga('send', 'pageview');

</script>
  <head><% include partials/template/head.ejs %></head>
  <body style="padding:0px;margin:0px;width:100%;height:1000px;background-color:black;" onload="init()">
 	<div class="legend">
 		<div class="legend-title">
 			<div style="display:inline-block;">
 				<a href="." id="logo"><img class="logo" src="images/ArcticOptionsLogo.png"/></a>
 			</div>
 			<div class="legend-text-title">
				<div class="page-title">Arctic Options</div>
				<div class="page-subtitle">Arctic Sea Ice and Shipping</div>
			</div>
		</div>

	 	<div class="timepanel">
	 		<span id="datepanel" class="datepanel">
	 			Showing <strong><span class="shipcount" id="shipcount">0</span></strong> vessels for <span class="datelabel" id="datelabel">July 4, 2014, 0:00
	 		</span>
		 	<span class="timeslider" id="time-slider"></span>

		 	<span class="buttons">
		 		<!-- <i class="fa fa-pause"></i> -->
		 		<button title="Pause Animation" id="pause-button" class="pause-button" type="button">
		 			<i class="fa fa-pause"></i>
		 		</button>
		 		<button title="Play Animation" id="play-button" class="play-button" type="button">
		 			<i class="fa fa-play"></i>
		 		</button>
		 	</span></br>
		 	<span class="timeslider-label-panel">
		 		<label class="timeslider-label-left">July 1, 2014</label>
		 		<label class="timeslider-label-right">October 31, 2014</label>
		 	</span>
	 	</div>
	 	<div id="flagstate_container" class="flagstate_container">
	 		<label for="flagstate">Filter by Flag State</label></br>
	 		<div class="flagstate-sel-container">
	 			<select id="flagstate" class="flagstate">
	 			</select>
	 		</div>
	 		<!--
			<button title = "Filter" id="flagstate-filter" class="flagstate-filter" type="button">
	 			<i class="fa fa-filter"></i>
	 		</button>
	 		-->
		</div>
		<div id="shiplength_container" class="shiplength_container">
			<div class="filter_label">Filter by Ship Length</div>
			<div class="sizeslider" id="shiplength"></div>
			<span class="shiplength_min">Minimum: 50</span><span class="shiplength_max">Maximum: 250</span>
	 	</div>
		<div id="shipwidth_container" class="shipwidth_container">
			<div class="filter_label">Filter by Ship Width</div>
			<div class="sizeslider" id="shipwidth"></div>
			<span class="shipwidth_min">Minimum: 10</span><span class="shipwidth_max">Maximum: 50</span>
	 	</div>
	 	
		<div class="ship-categories">
	 		<span>Filter by Ship Type</span></br>
	 		<div class="shipping-sel-container">
		 		<select id="shipping_types" class="shipping_types">
		 			<option value=4 selected>Fishing</option>
		 		</select>
	 		</div>
	 		<span style="display:block;margin-top:15px;"><strong>Key</strong></span>
	 		<div class="categories"></div>
	 		<div class="credits">
	 			Credits
	 			<span>Imagery from <a href="http://www.gina.alaska.edu/" target="_blank">GINA</a></span>
	 			<span>Sea ice data from <a href="http://nsidc.org/data/masie/" target="_blank">MASIE</a></span>
	 			<span>AIS Shipping Data courtesy of <a href="http://www.spacequest.com/" target="_blank">SpaceQuest</a></span>
	 		</div>
 		</div>

 	</div>
 	
    <div class="map" id="map"></div>
    <% include partials/template/jsdefaults.ejs %>
    <% include partials/template/footer.ejs %>
  </body>
</html>
